<div class="container">
  <h3 class="text-center">Yapay Zeka Sınıflandırma Task - BayKatre.com</h3>
  <div class="d-flex justify-content-center">
      <canvas #canvas style="border: 2px solid" width="1000" height="700"></canvas></div>
      <div class="row">
          <div class="col-3">
              <button type="button" (click)="start()" ngbButton>Noktaları Üret!</button>
          </div>
          <div class="col-9 d-flex flex-nowrap">
              <h5 class="p-2">Yeni Nokta</h5>
              <form class="p-2 d-flex flex-nowrap" [formGroup]="pointForm" (ngSubmit)="appendPoint(pointForm.value)">
                  <div>
                      <label for="pointx">
                      X:
                      </label>
                      <input id="x" type="text" formControlName="x" placeholder="Max 1000" required>
                  </div>
                  <div>
                      <label for="pointy">
                      Y:
                      </label>
                      <input id="y" type="text" formControlName="y" placeholder="Max 700" required>
                  </div>
                  <div>
                      <label for="pointx">
                          Yöntem: 
                      </label>
                  </div>
                  <p>
                      <input type="radio" value="mass" formControlName="method"> Ağırlık Merkezi
                      <input type="radio" value="knn" formControlName="method" > KNN
                  </p>
                  <button class="button" type="submit">Ekle</button>
              </form>
          </div>
      </div>
      
  
      
  </div>
  
  